@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css';
.wrap 
{
    max-width: 26em;
    margin: auto;
}
.title 
{
    color: white;
    background-color: #7F00FF;
    /* rgba(127,0,255,1) */
    padding: 1em 0;
}
.container 
{
    background-color: whitesmoke;
}